numpy==2.0.2
pillow==11.0.0
protobuf==5.29.2
pydantic==2.10.6
scikit-learn==1.6.0
sentencepiece==0.2.0
transformers==4.47.1
docx2pdf==0.1.8
pdf2image==1.17.0
doc2docx==0.2.4
torch==2.5.1
tqdm==4.67.1
